name: advanced_ai_assistant
description: Advanced AI Assistant with Gemini & DuckDuckGo

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.1.0
  provider: ^6.1.1
  flutter_markdown: ^0.6.18
  url_launcher: ^6.1.10
  shared_preferences: ^2.2.2
  confetti: ^0.7.0
  flutter_animate: ^4.1.1
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
 
flutter:
  uses-material-design: true